.header{
  text-align: center;
  display: inline;

}

body{
  background-image: url("img/island_background.jpg");
}
p, ul{
  color: white;
}
p{
  font-family: Arial, sans-serif;
}
 h1{
   color: #ffcc00;
   text-align: center;
 }
